.App {
  text-align: center;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
}

.userListWrapper {
  display: flex;
  justify-content: center;
  /* width: 95%; */
}

.modal-wrapper {
  padding: 20px;
}
